################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SlackIntegrations/.vs/SlackIntegrations/v15/Server/sqlite3
/SlackIntegrations/bin/Debug/System.ValueTuple.xml
/SlackIntegrations/bin/Debug/System.ValueTuple.dll
/SlackIntegrations/bin/Debug/SlackIntegrations.pdb
/SlackIntegrations/bin/Debug/SlackIntegrations.exe
/SlackIntegrations/bin/Debug/RestSharp.dll
/SlackIntegrations/bin/Debug/Newtonsoft.Json.xml
/SlackIntegrations/bin/Debug/Newtonsoft.Json.dll
/SlackIntegrations/obj/Debug/SlackIntegrations.pdb
/SlackIntegrations/obj/Debug/SlackIntegrations.exe
/SlackIntegrations/obj/Debug/SlackIntegrations.csprojResolveAssemblyReference.cache
/SlackIntegrations/obj/Debug/SlackIntegrations.csproj.CopyComplete
