################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SlackIntegrations/.vs/SlackIntegrations/v15/Server/sqlite3
/SlackIntegrations/bin/Debug
/SlackIntegrations/obj/Debug
